.container-fluid.footer
	.row.content
		.col-md-4
			h3.foot-title My site Web
			a.foot-link(href="/#!") Home
			a.foot-link(href="/#!/github") Github Projects
			a.foot-link(href="/#!/treehouse") TeamTreehouse
		.col-md-4
			h3.foot-title Contact
			span.glyphicon.glyphicon-github
			span.glyphicon.glyphicon-asterisk
			a.foot-link(href="mailto:it@actifleet.com") it@actifleet.com
		.col-md-4
	.row.copyright
		.col-12
			p All rights reserved, Nayson Russier 2017.