nav.navbar.navbar-toggleable-md.navbar-inverse.bg-dark.fixed-top
	button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	a.navbar-brand(href='/') Nayson Russier
	#navbarNavDropdown.collapse.navbar-collapse
		ul.navbar-nav
			li.nav-item.active
				a.nav-link(href='/#!') Home 
					span.sr-only (current)
			li.nav-item
				a.nav-link(href='/#!/github') Github projects
			li.nav-item
				a.nav-link(href='/#!/treehouse') Treehouse profile
			li.nav-item.dropdown
				a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Apps
				.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=bootstrap basics') Bootstrap Basic
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=confirmation form') Confirmation Form
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=drawing') Drawing
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=Interactive Form') Interactive Form
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=Lake Tao') Lake Tao
					a.dropdown-item(href='/#!/apps?project_path=projects-api&project_name=library') Library
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=light box') Light box
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=Pagination And Content Filter') Pagination & Content Filter
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=Random Quote Generator') Random Quote Generator
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=Recipes') Recipes
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=Simple website') Simple Website
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=Tic Tac Toe') Tic Tac Toe
					a.dropdown-item(href='/#!/apps?project_path=projects&project_name=Todo App') Todo App
			li.nav-item.dropdown.ng-cloak
				a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', ng-if="loggedInUser") {{loggedInUser.name}}
				.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
					a.dropdown-item(href='/logout') Logout
				a.nav-link(href='/#!/login', ng-if='!loggedInUser') Login 